.wrappersb {
     display: flex;
     flex-direction: column;
     gap: 1rem;
     overflow: auto;
     padding: 20px 0 26px 8px;
     width: 300px;
     margin-left: -28px;
     height: 100%;
     padding-left: 30px;
     background-color: #232e44;
     color: #d2c8c0;
     ul {
          li {
               padding: 10px;
               border-bottom: 1px solid #d2c8c0;
               font-size: 1.2rem;
               font-weight: 500;
               i {
                    margin-right: 10px;
               }
          }
     }
}
