.header {
     width: 100%;
     height: 70px;
     line-height: 70px;
     position: sticky;
     top: 0;
     left: 0;
     z-index: 999;
     box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
     background: #fff;
}
.nav_wrapper {
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.logo {
     display: flex;
     align-items: center;
     column-gap: 8px;
     cursor: pointer;
     img {
          width: 45px;
          height: 45px;
          object-fit: contain;
          border-radius: 50%;
     }
     h1 {
          font-size: 1.2rem;
          font-weight: 700;
          color: var(--primary-color);
     }
}

.menu {
     display: flex;
     align-items: center;
     column-gap: 2.7rem;
     margin-bottom: 0;
}
.nav__item {
     a {
          color: var(--primary-color);
          font-weight: 500;
          cursor: pointer;
     }
}

.nav__icons {
     display: flex;
     align-items: center;
     column-gap: 1.2rem;
     span {
          i {
               font-size: 1.4rem;
               color: var(--primary-color);
               cursor: pointer;
          }
          img {
               width: 30px;
               height: 30px;
               border-radius: 50%;
               object-fit: contain;
               cursor: pointer;
          }
     }
     .btn-login {
          height: 40px;
          width: 110px;
          padding: 2px 5px;

          text-align: center;
          background-color: #ff6e79;
          color: white;
          font-weight: 600;
          line-height: 40px;
          border-radius: 5px;
          cursor: pointer;
     }
     .action {
          position: fixed;

          .active {
               visibility: visible !important;
          }
          .menuUser {
               h3 {
                    text-align: center;
                    width: 100%;
                    font-size: 18px;
                    padding: 20px 0;
                    font-weight: 600;
                    line-height: 1.2em;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.25);

                    span {
                         font-size: 14px;
                         color: #cecece;
                         font-size: 500;
                    }
               }

               position: absolute;
               top: 50px;
               right: -130px;
               width: 250px;
               padding: 10px;
               height: auto;
               background-color: #fff;
               box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
               border-radius: 15px;
               transition: 0.2s;
               visibility: hidden;
               ul li {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                    list-style: none;
                    align-items: center;
                    justify-content: center;
                    direction: flex;
               }
               li {
                    height: 50px;

                    padding-bottom: 15px;
                    i {
                         margin-right: 20px;
                         opacity: 0.5;

                         :hover {
                              opacity: 1;
                         }
                    }
               }
               a {
                    display: inline-block;
                    font-size: 1.1rem;
                    text-align: center;
                    height: 50px;
               }
          }
     }
}
.fav__icon,
.cart__icon {
     position: relative;
     height: 70px;
     cursor: pointer;
     .badge {
          position: absolute;
          top: 25%;
          right: -10%;
          content: "";
          width: 15px;
          height: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: red;
          color: #fff;
          border-radius: 50px;
          font-size: 0.7rem;
          font-weight: 600;
          z-index: 10;
     }
}

.mobile__menu {
     display: none;
     font-size: 1.3rem;
     color: var(--primary-color);
}
.nav__active {
     font-weight: 700 !important;
}

@media only screen and (max-width: 768px) {
     .navication {
          position: fixed;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.405);
          z-index: 9999;
          display: none;
     }
     .menu {
          position: absolute;
          top: 0;
          right: 0;
          width: 250px;
          height: 100%;
          background: #fff;
          z-index: 99999;
          flex-direction: column;
          align-items: center;
          justify-content: center;
     }
     .active__menu {
          display: block;
     }
     .mobile__menu {
          display: block;
          span i {
               font-size: 1.1rem;
          }
     }
     .logo {
          h1 {
               font-size: 1rem;
          }
          img {
               width: 1rem;
               height: 1rem;
          }
     }
     .cart__icon {
          height: 60px;
          i {
               font-size: 1.2rem !important;
          }
     }
     .fav__icon {
          height: 60px;

          i {
               font-size: 1.2rem !important;
          }
     }
     .nav__icons span img {
          width: 1.4rem;
          height: 1.4rem;
     }
     .header {
          width: 100%;
          height: 60px;
          line-height: 60px;
     }
}
